<!-- grandpybot/templates/index.html -->

{% extends 'template.html' %}
{% block main %}
<header>
    <p id="header-logo">
        <img src="./static/img/grandpybot.png" alt="Logo GrandPy Bot" id="grandpybot-logo" />
    </p>
    <div id="header-text">
        <p id="main-title">GRANDPY BOT</p>
        <p id="sub-title">Il a réponse à (presque) tout</p>
    </div>
</header>
<main>
    <section id="intro-section">
        <h1>Bienvenue chez GrandPy !</h1>
        <p id="intro">Il a beaucoup voyagé, posez-lui des questions sur des lieux ou des monuments, il a plein d'anecdotes à vous raconter ^^</p>
    </section>
    <section id="main-section">
        <section id="chat-section">
            <h2 id="chat-title">
                Vos questions et les réponses de GrandPy 
                <img src="./static/img/fleche_bas_droite.png" alt="Flêche vers le bas" class="fleche-bas-droite" />
            </h2>
            <div id="chat-area"></div>
        </section>
        <section id="map-section">
            <h2>
                <span id="map-title">Une carte apparaitra ici </span>
                <img src="./static/img/fleche_bas_droite.png" alt="Flêche vers le bas" class="fleche-bas-droite" />
            </h2>
            <div id="map-area"></div>
        </section>
    </section>
    <form id="user-question-form">
        <label for="user-question">Posez votre question ici <img src="./static/img/fleche_bas_droite.png" alt="Flêche vers le bas" class="fleche-bas-droite" /></label>
        <div id="input-area">
            <input type="text" name="q" id="user-question" onfocus=this.value='' placeholder="Exemple de question sur un lieu ou un monument : que peux-tu me dire à propos de la Tour Eiffel ?" />
            <input type="submit" value="OK" id="submit-button" />
        </div>
    </form>
</main>
<footer>
    <div id="footer-top-bloc">
        <div id="developer">
            Nicolas VALLET<br/>
            Développeur Python
        </div>
        <div id="github">Code sur<br/>
            <a href="https://github.com/Githb-usr/grandpybot" target="blank">
                <img src="./static/img/github-logo.png" alt="Logo de Github" id="github-logo" />
            </a>
        </div>
    </div>
    <div id="footer-bottom-bloc">Copyright 2021 - Tous droits réservés</div>
</footer>
{% endblock main %}