<!-- grandpybot/templates/index.html -->

{% extends 'template.html' %}
{% block main %}
<header>
    <!-- Placez ici le contenu de l'en-tête de votre page -->
    <h1>Bienvenue chez GrandPy Bot !</h1>
    <p>GrandPy a beaucoup voyagé, en France comme à l'étranger, et il est devenu une vraie encyclopédie !</p>
    <p>Posez-lui des questions sur des lieux ou des monuments, il a plein d'anecdotes à vous raconter ^^</p>
</header>
<main>
    <section id="main-section">
        <section id="text-section">
            <h2 id="question-title">Vos questions et les réponses de GrandPy</h2>
                <p id="chat">
                </p>
        </section>
        <section id="map-section">
            <h2 id="map-title"></h2>
            <div id="map-container"></div>
        </section>
    </section>
        <section id="input-section">
        <form id="user-question-form">
            <label for="user-question">Posez votre question ici :</label>
            <div><input type="text" name="q" id="user-question" placeholder="Ma question sur un lieu ou un monument, exemple : que peux-tu me dire à propos de la Tour Eiffel ?" /></div>
            <div><button type="submit" id="submit-button" >Envoyer</button></div>
        </form>
    </section>
</main>
<footer>
    <p id="my-name">
        Nicolas VALLET<br/>
        Développeur Python
    </p>
    <p id="github">Code dispo sur 
        <a href="https://github.com/Githb-usr/grandpybot" target="blank">
            <img src="./static/github-logo.png" alt="Logo de Github" id="github-logo" />
        </a>
    </p>
    <p id="copyright">Copyright 2021</p>
</footer>
{% endblock main %}